
@{
    ViewBag.Title = "Reserve";
}
<link href="~/Content/jquery-ui.css" rel="stylesheet" />

<div class="row Reserve">
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Hotel Id :  <label id="lblHotelId">@TempData["HotelId"]</label></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Hotel Name :  <label id="lblHotelName">@TempData["HotelName"]</label></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>
            Room Type :
            <select name="txtRoomType" id="txtRoomType">
                <option value="Double Room">Double Room</option>
                <option value="Deluxe Triple Room">Deluxe Triple Room</option>
                <option value="Standard Double Room">Standard Double Room</option>
                <option value="Deluxe Room">Deluxe Room</option>
                <option value="Classic Triple Room">Classic Triple Room</option>
                <option value="Small Twin Room">Small Twin Room</option>
                <option value="Standard Double or Twin Room">Standard Double or Twin Room</option>
            </select>
        </h2>
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <input class="btn btn-light" type="button" value="PROCEED" id="btnProceed" width="70" style="background-color:blue" />
    </div>
</div>
<div class="row Payment" style="display:none">
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Hotel Id :  <label id="lblHotelIdPay"></label></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Hotel Name :  <label id="lblHotelNamePay"></label></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Room Type :  <label id="lblRoomType"></label></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Amount :  <label id="lblAmount"></label>/day</h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Check in :  <input type="text" name="txtFromDate" id="txtFromDate" class="datepicker">&nbsp;&nbsp;&nbsp;Check out :  <input type="text" name="txtToDate" id="txtToDate" class="datepicker"></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>
            Pament Mode :
            <select name="txtPayMode" id="txtPayMode">
                <option value="UPI">UPI</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="Internet Banking">Internet Banking</option>
            </select>
        </h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <input class="btn btn-light" type="button" value="PROCEED PAYMENT" id="btnProceedPay" width="70" style="background-color:blue" />
        <br />
        <br />
    </div>
</div>
<div class="row ProceedPay" style="display:none">
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2>Total Paid Amount : <label id="lblTotalPaidAmount" /></h2>
        <br />
    </div>
    <div class="col-md-12" style="text-align:center">
        <br />
        <h2><label id="lblProceedPay" /></h2>
        <br />
    </div>
</div>


@section Scripts {
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.13.2.min.js"></script>
    <script type="text/javascript">
        $(function () {
            $("#txtFromDate").datepicker({  });
        });

        $(function () {
            $("#txtToDate").datepicker({  });
        });

        $("#btnProceed").click(function () {
            var obj = {};
            obj.HotelId = $('#lblHotelId').text();
            obj.HotelName = $('#lblHotelName').text();
            obj.RoomType = $('#txtRoomType').val();
            $.ajax({
                url: "/Home/Proceed",
                method: "post",
                data: '{obj: ' + JSON.stringify(obj) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('.Reserve').hide();
                    $('.Payment').show();
                    $('.ProceedPay').hide();
                    $("#lblHotelIdPay").text(response.HotelId);
                    $("#lblHotelNamePay").text(response.HotelName);
                    $("#lblRoomType").text(response.RoomType);
                    $("#lblAmount").text(response.Amount);
                },
                error: function (response) {
                    alert("Error while Log in the Application");
                }
            });
        });

        $("#btnProceedPay").click(function () {
            var obj = {};
            obj.HotelId = $("#lblHotelIdPay").text();
            obj.HotelName = $("#lblHotelNamePay").text();
            obj.RoomType = $("#lblRoomType").text();
            obj.Amount = $("#lblAmount").text();
            obj.sDate = $('#txtFromDate').val();
            obj.eDate = $('#txtToDate').val();
            obj.PayMode = $('#txtPayMode').val();
            //obj.DayCount = Date.parse($('#txtToDate').val()) - Date.parse($('#txtFromDate').val());

            if (obj.sDate=="") {
                alert('Check in Date Should not be blank.');
                return;
            }
            if (obj.eDate == "") {
                alert('Check out Date Should not be blank.');
                return;
            }
            if (Date.parse(obj.sDate) > Date.parse(obj.eDate) || Date.parse(obj.sDate) == Date.parse(obj.eDate)) {
                alert('Check out Date Should be greater then Check in Date.');
                return;
            }
            //------------
            var date1 = new Date(Date.parse($('#txtFromDate').val()));
            var date2 = new Date(Date.parse($('#txtToDate').val()));
            var milli_secs = date2.getTime() - date1.getTime();
            // Convert the milli seconds to Days 
            var days = milli_secs / (1000 * 3600 * 24);
            obj.DayCount =Math.round(Math.abs(days))
            //------------
            $.ajax({
                url: "/Home/ProceedPay",
                method: "post",
                data: '{obj: ' + JSON.stringify(obj) + '}',
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (response) {
                    $('.Reserve').hide();
                    $('.Payment').hide();
                    $('.ProceedPay').show();
                    $("#lblTotalPaidAmount").text(response.Amount);
                    $("#lblProceedPay").text(response.status);
                },
                error: function (response) {
                    alert("Error while Log in the Application");
                }
            });
        });
    </script>
}


